.red {
    color: red;
}

.small {
    font-weight: 100;
    font-size: small;
}

.animated {
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(180deg);
}

.runaway-hello {
    cursor: pointer;
}
